body {
  font-family: Helvetica;
  background-color: #DAF4F0;
}
p.more {
  d
}
.eggs {
  font-family: arial;
  color: hotpink;
  margin-bottom: 50px;
}

.brownie {
  font-family: sans-serif;
  color: darkblue;
  margin-top: 50px;

}
pre {
  font-family: Helvetica, sans-serif;
}
